@using Humanizer.Localisation
@model IEnumerable<SmartDormitary.Data.Models.Sensor>

@{
    ViewData["Title"] = "Sensors";
    ViewBag.Current = "SensorsIndex";
    ViewData["ShowTitleCard"] = true;
    ViewData["CardTitle"] = "All Sensors";
}
<div class="col-md-6 ml-0 pl-0">
    @Html.Partial("_StatusMessage", TempData["StatusMessage"])
</div>
<div class="row">
    <div class="card card-nav-tabs text-center">
        <div class="card-header card-header-primary">
            Manage Sensors
        </div>
        <div class="card-body">
            <p class="card-title">Here you can manage all existing sensors and add new ones.</p>
            <a asp-action="Create" class="btn btn-primary">Add New Sensor</a>
        </div>
    </div>
    @await Html.PartialAsync("_UserSensorsTable", Model)
</div>