@model IEnumerable<SensorViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<div class="content-center brand">
    <h1 class="h1-seo"><span class="fas fa-bed"></span></h1>
    <h1 class="h1-seo">SmartDorm</h1>
    <h3>An innovative smart technology system for dormitary sensors.</h3>
    @foreach (var sensor in Model)
    {
        <span class="col-md-3">@sensor.Name</span>
        <span class="col-md-3">@sensor.Value</span>
        <span class="col-md-3">@sensor.Description</span>
        <hr />
    }
        </div>