@using SmartDormitary.Data.Models
@model IEnumerable<SensorViewModel>
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Home Page";
}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('./assets/img/bg7.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1>Smart Dormitary</h1>
                    <h3>A Badass Sensor Manager Created With <i class="material-icons">favorite</i></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <br />
    <div class="section">
        <div class="description">
            <h4 class="info-title">One app to rule them all...</h4>
            <p>
                SmartDormitory is an information system that collects data from various sensors located in college dormitories all over the world. Data will be analyzed by independent research organization to evaluate the living conditions and map them to the performance of the students.
                Our clients can install specific sensor equipment supplied by us and register it to <strong>SmartDormitory</strong>.
            </p>
            <p>The following sensor types are supported:</p>
            <ul>
                <li>Temperature sensor, measured in °C</li>
                <li>Humidity sensor, measured in percent</li>
                <li>Electric power consumption sensor, measured in Watts</li>
                <li>Window/Door sensor | Allowed values: true/false(True – when the window/door is open | False – when the window/door is closed)</li>
                <li>Noise sensor, measured in Decibels</li>
            </ul>

            <p>On the map below are represented some of the sensors of our clients</p>
        </div>
        <hr/>
        <div class="container">
            <div class="title text-center">
                <h3>Active Public Sensors</h3>
            </div>
            <div id="map" style="height: 350px;" class="rounded border border-info"></div>
        </div>
    </div>
    <div class="row col-md-12 d-flex justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">About Us</h4>
                </div>
                <div class="card-body">
                    <p>This application is created by Aleks Niklev and Danail Grozdanov with the help and guidance of of <a href="https://www.telerikacademy.com" target="_blank">Telerik Academy</a>.</p>
                    <p>Thanks to <a href="https://www.icb.bg" target="_blank">InterConsuld Bulgaria ICB</a> for the interesting project!</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title">Contacts</h4>
                </div>
                <div class="card-body">
                    <p>
                        31 Alexander Malinov Blvd.<br />
                        Sofia 1729, Bulgaria
                    </p>
                    <p>Email: <a href="mailto:info@telerikacademy.com">info@telerikacademy.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @if(!SignInManager.IsSignedIn(User))
    {
        <script type="text/javascript">
            function initMap() {
                $.ajax({
                    url: "/Sensor/GetPublicSensors",
                    type: "GET",
                    success: function (response) {

                        var map = new google.maps.Map(document.getElementById('map'),
                            {
                                zoom: 12,
                                center: { lat: 42.6875236, lng: 23.3139769 }
                            });

                        JSON.parse(response).forEach(function (marker) {

                            const myLatLng = { lat: marker.x, lng: marker.y };

                            new google.maps.Marker({
                                position: myLatLng,
                                map: map,
                                title: marker.name,
                                animation: google.maps.Animation.DROP
                            });
                        });

                    },
                    error: function (response) {
                        alert(response);
                    }
                });
            }

        </script>
    }
    else
    {
        <script type="text/javascript">
            function initMap() {
                $.ajax({
                    url: '@Url.Action("GetPublicAndYourSensors", "Sensor", new { id = TempData["userId"]})',
                    type: "GET",
                    success: function (response) {

                        var map = new google.maps.Map(document.getElementById('map'),
                            {
                                zoom: 12,
                                center: { lat: 42.6875236, lng: 23.3139769 }
                            });

                        JSON.parse(response).forEach(function (marker) {

                            const myLatLng = { lat: marker.x, lng: marker.y };

                            new google.maps.Marker({
                                position: myLatLng,
                                map: map,
                                title: marker.name,
                                animation: google.maps.Animation.DROP
                            });
                        });

                    },
                    error: function (response) {
                        alert(response);
                    }
                });
            }

        </script>
    }
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOc4hXPYpMR4Gos817M6Iz_5hUKrPE0k4&callback=initMap"></script>
}