@model IEnumerable<SensorViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <h4>For research purposes only</h4>
    <hr />
    @foreach (var sensor in Model)
    {
        <span class="col-md-3">@sensor.Name</span>
        <span class="col-md-3">@sensor.Value</span>
        <span class="col-md-3">@sensor.Description</span>
        <hr />
    }
</div>