@{
    ViewData["Title"] = "Locked out";
}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/img/city-profile.jpg');"></div>
<div class="main main-raised">
    <div class="section">
        <div class="container">
            <header>
                <h2 class="text-danger">
                    <i class="material-icons">error</i> @ViewData["Title"]</h2>
                <p class="text-danger">This account has been locked out, please try again later.</p>
            </header>
        </div>
    </div>
</div>