@{
    ViewData["Title"] = "Signed out";
}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/img/city-profile.jpg');"></div>
<div class="main main-raised">
    <div class="section">
        <div class="container">
            <h2>@ViewData["Title"]</h2>
            <p>
                You have successfully signed out.
            </p>
        </div>
    </div>
</div>