@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/img/city-profile.jpg');"></div>
<div class="main main-raised">
    <div class="section">
        <div class="container">
            <div class="title">
                <h2>Manage your account</h2>
                <h4>Change your account settings</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @await Html.PartialAsync("_ManageNav")
                </div>
                <div class="col-md-8">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", false)
}